
<table class="table table-bounded mx-auto">
    <thead>
      <tr>
        <th>ID</th>
        <th>name</th>
        <th>count</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let category of categories
            | paginate
              : {
                  id: 'categories',
                  itemsPerPage: pageSize,
                  currentPage: p,
                  totalItems: total
                };
          let i = index
        "
      >
        <td>{{ category._id }}</td>
        <td>{{ category.name }}</td>
        <td>
            {{ category.count }}
        </td>
        <td>
          <a class="btn btn-primary mx-2" routerLink="/products" [queryParams]="{'category': category.name}"
            >products</a
          >
          
          <a class="btn btn-warning mx-2" (click)="removeAcategory(category._id, i)"
            >remove</a
          >
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls
    id="categories"
    (pageChange)="pageChanged($event)"
    (pageBoundsCorrection)="pageChanged($event)"
    [maxSize]="9"
    [directionLinks]="true"
    [autoHide]="false"
    [responsive]="true"
    previousLabel="Previous"
    nextLabel="Next"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page"
  >
  </pagination-controls>
  