
<div class="container">
<div class="container-fluid" *ngIf="isLoading; else data">
  <img src="assets/images/loading.gif" alt="" />
</div>
<ng-template #data>
  <div class="row">
    <div class="col-12 col-md-6 col-xl-4" *ngFor="let product of products | paginate
    : {
        id: 'products',
        itemsPerPage: pageSize,
        currentPage: p,
        totalItems: total
      };">
      <div class="card m-4" style="width: 18rem">
        <img
          src="{{global.backendUrl}}{{ product.thumnail }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <a routerLink="{{ product._id }}" class="btn btn-primary"
            >show</a
          >
          <a routerLink="edit/{{ product._id }}" class="btn btn-primary"
            >edit</a
          >
          <span class="p-4">{{ product.price }}$</span>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls
    id="products"
    (pageChange)="pageChanged($event)"
    (pageBoundsCorrection)="pageChanged($event)"
    [maxSize]="9"
    [directionLinks]="true"
    [autoHide]="false"
    [responsive]="true"
    previousLabel="Previous"
    nextLabel="Next"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page"
  >
  </pagination-controls>
</ng-template>
</div>